<nav class="w-full bg-greenOne bg-opacity-60 flex flex-col lg:flex-row   items-center justify-around p-5">
    <img src="/logo.png" alt="logo" class="w-[150px] mr-5">
    <div>
        <a href="" class="mr-14 text-4xl text-white">Inicio</a>
        <a href="" class="mr-5 text-4xl text-white">Categorias</a>
    </div>
</nav>