
<div class="flex flex-row justify-center m-5">
    <div class="flex rounded-lg overflow-hidden border-2 border-greenOne   ">
      <input
        type="text"
        class="px-4 py-2 w-64 focus:outline-none bg-greenThree"
        placeholder="Buscar recetas..."
      />
      <button class=" bg-greenThree px-4 py-2 flex items-center justify-center">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon icon-tabler icon-tabler-search"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="#7CB518"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0" />
          <path d="M21 21l-6 -6" />
        </svg>
      </button>
    </div>
  </div>
  